/* ==========================
   RESET
========================== */

:root {
    --cor1: rgba(246, 183, 222, 1);
    --cor2: rgba(255, 79, 176, 1);
    --cor3: rgb(212, 212, 212);
    --cor4: rgb(255, 255, 255);
    --cor5: rgba(246, 183, 222, 0.5);
    --cor6: rgba(255, 79, 176, 0.2);
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ==========================
   ESTRUTURA
========================== */

.phone{
    width:414px;
    height:896px;
    background:var(--cor4);
    overflow:hidden;
    position:relative;
}

main{
    padding: 20px;
    width:100%;
    height:100%;
    overflow-y:auto;
}

main::-webkit-scrollbar{
    width:0px;
}


/* ==========================
   MODELO
========================== */

.model-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}

.model-image{
    width:200px;
    height:350px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    border: 3px dashed var(--cor1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(246, 183, 222, 0.08);
}

.model-image.has-photo {
    border: 3px solid var(--cor1);
    background: transparent;
}

#ModelImgDisplay {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    position: absolute;
    inset: 0;
}

.ModelUploadLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    z-index: 2;
    padding: 16px;
    text-align: center;
}

.ModelUploadLabel input[type="file"] {
    display: none;
}

.ModelUploadLabel span {
    font-size: 36px;
}

.ModelUploadLabel p {
    font-size: 13px;
    color: var(--cor2);
    font-weight: bold;
    margin: 0;
}

.change-model-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 10;
    background: var(--cor2);
    color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: .2s;
}

.change-model-btn:hover {
    transform: scale(1.1);
    background: var(--cor1);
}

.model-cooldown-msg {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 11px;
    color: #999;
    z-index: 10;
    padding: 0 4px;
}

/* ==========================
   DIVISOR
========================== */

.divider{
    width:100%;
    height:2px;
    margin:28px auto 12px;
    background:var(--cor1);
}

/* ==========================
   BARRA DE PESQUISA
========================== */

.search-box{
    width:100%;
    height:40px;
    display:flex;
    align-items:center;
    background:var(--cor4);
    border:2px solid  var(--cor1);
    border-radius:30px;
    margin-bottom:22px;
}

.search-box input{
    flex:1;
    margin-left:5px;
    padding:0 18px;
    border:none;
    outline:none;
    font-size:15px;
}

.search-box button{
    width:50px;
    height:100%;
    border:none;
    background:none;
    color:var(--cor1);
    font-size:20px;
    cursor:pointer;
}

/* ==========================
   CATEGORIAS
========================== */

.categories{

    display:flex;
    gap:10px;
    overflow-x:auto;
    padding-bottom:15px;
    scrollbar-width:none;
    cursor: grab;
    user-select: none;
    -webkit-user-select: none;
    touch-action: pan-x;
}

.categories:active {
    cursor: grabbing;
}

.categories::-webkit-scrollbar{
    display:none;
}

.categories-wrapper{
    position:relative;
    margin-bottom:22px;
}

.categories button{
    white-space:nowrap;
    border:none;
    background:var(--cor1);
    color:var(--cor4);
    padding:6px 15px;
    border-radius:30px;
    font-size:15px;
    font-weight: bold;
    cursor:pointer;
    box-shadow: 3px 3px 5px var(--cor3);
}

.categories-wrapper::before,
.categories-wrapper::after{

    content:"";
    position:absolute;
    top:0;
    bottom:0;
    width:35px;
    z-index:5;
    pointer-events:none;
}

.categories-wrapper::before{

    left:0;
    background:linear-gradient(
        to right,
        white 0%,
        rgba(255,255,255,0) 100%
    );
}

.categories-wrapper::after{

    right:0;
    background:linear-gradient(
        to left,
        white 0%,
        rgba(255,255,255,0) 100%
    );
}

.sideStartButton{
    margin-left: 30px;
}

.sideEndButton{
    margin-right: 30px;
}
/* ==========================
   PRODUTOS
========================== */

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    width: 100%;
    justify-items: start;
}

.product{
    width:110px;
    height:110px;
    position:relative;
    border-radius:10px;
    border:3px solid var(--cor1);
}

.product img{
    max-width: 90%;
    max-height: 90%;
    margin: 5%;
}

.sideStartButton {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    margin: 0;
}

.sideStartButton:hover {
    cursor: pointer;
}

.Itens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    width: 100%;
    justify-items: start;
}

.Itens .designs,
.Itens .products {
    display: contents;
}

/* ==========================
   DESIGNS
========================== */

.card{
    background:var(--cor1);
    border-radius:12px;
    padding:4px;
    box-shadow: 3px 3px 5px var(--cor4);
}

.preview{
    width:100%;
    aspect-ratio:0.62;
    background:var(--cor3);
    border:2px solid var(--cor1);
    border-radius:10px;
}

.card span{
    display:block;
    margin-top:10px;
    text-align:center;
    color:var(--cor4);
    font-size:13px;
    font-weight:bold;
}

.NewItem {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5); /* Fundo cinza escuro */
    z-index: 1000;
}

.NewItemCard {
    width: min(90vw, 500px);
    min-width: 300px;
    max-width: 450px;

    padding: 20px;
    border: 3px solid var(--cor1);
    border-radius: 10px;
    background: var(--cor4);

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-sizing: border-box;
}

#DesignNameInput {
    width: 100%;
    height: 45px;
    padding: 0 12px;
    box-sizing: border-box;
    border: #f7b8df 2px solid;
    border-radius: 10px;
}

.ImageUpload {
    width: 100%;
    max-width: 220px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;

    border: 2px dashed var(--cor1);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.ImageUpload input {
    display: none;
}

.ImageUpload span {
    font-size: 42px;
}

.ImageUpload p {
    margin-top: 10px;
}

.categories button.selectedCategory {
    background: var(--cor2);
    color: var(--cor4);
    box-shadow: 0 0 8px var(--cor2);
}

.NewItemCardBTNS {
    display: flex;
    gap: 10px;
}

.NewItemCardBTNS button {
    flex: 1;
    height: 45px;
}

#SaveDesignBTN, #CancelDesignBTN {
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
    transition: .2s;
}

#SaveDesignBTN {
    background: var(--cor1);
    color: white;
    border: none;
}

#SaveDesignBTN:hover {
    filter: brightness(0.9);
}

#DeleteDesignBTN {
    background: var(--cor1);
    color: var(--cor2);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    transition: .2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    cursor: pointer;
}

#DeleteDesignBTN:hover {
    background: var(--cor2);
    color: var(--cor4);
    transform: scale(1.05);
}

#EditDeleteBTN {
    background: var(--cor1);
    color: var(--cor2);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 18px;
    transition: .2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    cursor: pointer;
    flex: 1;
    height: 45px;
}

#EditDeleteBTN:hover {
    background: var(--cor2);
    color: var(--cor4);
    transform: scale(1.05);
}

#CancelDesignBTN {
    background: transparent;
    color: var(--cor2);
    border: 2px solid var(--cor2);
}

#CancelDesignBTN:hover {
    background: var(--cor6);
}

#ImagePreview {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#UploadIcon {
    font-size: 48px;
}

#UploadText {
    margin-top: 10px;
}

/* ==========================
   BARRA INFERIOR
========================== */

.bottom-bar{
    z-index: 9999;
    position: fixed;
    left: 50%;
    top: 91%;
    transform: translateX(-50%);
    width: 300px;
    height: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background:
        radial-gradient(
            ellipse at center,
            rgba(247, 184, 223, 0.20) 0%,
            rgba(247, 184, 223, 0.35) 65%,
            rgba(247, 184, 223, 0.50) 100%
        );

    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);

    border-radius: 40px;

    box-shadow:
        0 8px 32px rgba(0,0,0,.15),
        inset 0 1px 1px rgba(255,255,255,.35);
    overflow: hidden;
}

.likeBTN {
    color:var(--cor2);
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.likeBTN:hover {
    cursor: pointer;
}

.bottom-bar button{
    background:none;
    border:none;
    color:var(--cor2);
    font-size:22px;
    cursor:pointer;
    transition:.2s;
}

.bottom-bar button:hover{
    transform:scale(1.15);
}


/* ==========================
   Login
========================== */

.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--cor4);
    overflow:hidden;
    position:relative;
}

.background{

    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at top left,#ffd2eb 0%,transparent 35%),
    radial-gradient(circle at bottom right,#f7b8df 0%,transparent 30%),
    #fafafa;

}

.login{

    position:relative;
    z-index:1;
    width:min(90%,400px);
    background:rgba(255,255,255,.95);
    backdrop-filter:blur(15px);
    border-radius:25px;
    padding:40px 35px;
    box-shadow:0 20px 50px rgba(0,0,0,.12);
    display:flex;
    flex-direction:column;

}

.logo{

    width:90px;
    margin:0 auto 15px;
}

.login h1{

    text-align:center;
    margin:0;
    color:#444;
    font-size:34px;
}

.subtitle{

    margin:10px 0 30px;
    text-align:center;
    color:#777;
    font-size:15px;
}

.field{

    display:flex;
    flex-direction:column;
    margin-bottom:18px;

}

.field label{

    margin-bottom:8px;
    font-weight:bold;
    color:#555;

}

.field input{

    height:50px;
    border:2px solid var(--cor3);
    border-radius:14px;
    padding:0 15px;
    font-size:15px;
    transition:.2s;
    border-color: var(--cor1);
}

.field input:focus{

    outline:none;
    border-color:var(--cor2);
    background-color: var(--cor5);
}

.field input:hover {
    border-color:var(--cor2);
}

#loginButton{

    margin-top:10px;
    height:52px;
    border:none;
    border-radius:14px;
    background:var(--cor1);
    color:var(--cor4);
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;

}

#loginButton:hover{

    transform:scale(1.05);
    background:var(--cor2);

}

#loginButton:active{

    transform:scale(.98);

}

#error{

    margin-top:15px;
    text-align:center;
    color:#ff3b30;
    min-height:20px;

}

@media(max-width:500px){

    .login{

        width:92%;
        padding:30px 22px;
        border-radius:20px;

    }

    .login h1{

        font-size:28px;

    }

    .logo{

        width:75px;

    }

}

.LogOutBTN {
    
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--cor1);
    color: var(--cor4);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

/* ==========================
   Page Not Found
========================== */

.PageNotFound {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cor1);
}

.PageNotFound h1 {
    font-size: 120px;
    font-weight: 900;
    margin: 0;
    color:var(--cor2);
    text-shadow: 0 0 20px rgba(255, 0, 157, 0.5);
    letter-spacing: 5px;
}

.PageNotFound h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 15px 0 5px;
    color: var(--cor2);
    width: 400px;
}

.PageNotFound h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    color: #8a8a8a;
}

/* ==========================
   Admin
========================== */